.post_section{width: 90%; height: auto; display:flex; margin-top: 30px;}

.section1{width:65%; height: auto;display:flex; flex-direction:column}
.section2{width: 32%; height:auto; margin-left: 30px; background-color: none; display:flex; flex-direction:column}
.aside_one{}
.aside_two{}
.aside_three{margin-top: 30px;} 
.aside_four{}
.aside_five{}

/* --------------responsive */
@media screen and (max-width:720px){
 .post_section{width: 100%; height: auto; display:flex;flex-direction: column; margin-top: 30px;} 
 .section1{width:100%; height: auto;display:flex; flex-direction:column}
.section2{width: 100%; height:auto; margin-left:0px; background-color: none; display:flex; flex-direction:column}
 .aside_one{width:90%; margin-left:20px}
.aside_two{ margin-top: 30px;}
.aside_three{width:90%; margin-left:20px;margin-top: 30px;} 
.aside_four{width:90%; margin-left:20px}
.aside_five{width:90%; margin-left:20px}
 
}




.title{width:90%;font-size:25px; text-align:center; color:rgb(5, 5, 51);text-transform:uppercase; font-weight:normal; font-family:'Secular One','Russo One','Lilita One',Candal}
.tags{width:50%; display:flex; justify-content: space-between; background:none; margin-bottom: 30px;}
.tag1{width:fit-content; padding: 3px 6px 3px 6px; color:#fff; background:rgb(0, 0, 0,0.4); border-radius:10px; font-size:13px;display:flex;text-transform: capitalize;}
.tag2{ width:fit-content; display:flex;align-items: center;font-size: 14px;}
.tag3{width:fit-content; padding: 3px 6px 3px 6px; color:#fff; background:rgb(176, 112, 170,0.4); color:rgb(36, 3, 29); border-radius:10px; font-size:13px;display:flex;text-transform: capitalize;}
/* ---------------responsive--------------- */
@media screen and (max-width:720px){
.title{width:100%;font-size:25px; text-align:center; color:rgb(5, 5, 51);text-transform:uppercase; font-weight:normal; font-family:'Secular One','Russo One','Lilita One',Candal}
 .tags{width:100%; display:flex; justify-content: space-between; background:none; margin-bottom: 30px;}   
.tag1{width:fit-content; padding: 3px 6px 3px 6px; color:#fff;  border-radius:10px; font-size:11px;display:flex;text-transform: capitalize; margin-left: 10px;}
.tag2{ width:fit-content; display:flex;align-items: center;font-size: 11px;}
.tag3{width:fit-content; padding: 3px 6px 3px 6px;  border-radius:10px; font-size:11px;display:flex;text-transform: capitalize;margin-right: 10px;}

}


.image{width:700px; height:400px; background:none}
@media screen and (max-width:720px){
.image{width:100%; height:300px; background:none}
    
}
.image_image{width:100%; height: 100%;}
.video{width:100%; height: 100%;}
.content{width:90%}

@media screen and (max-width:720px){
 .content{width:90%;margin-left: 5%; margin-top: 20px;}   
}
.social_share{width:90%; display:flex; flex-direction:column}
.social_share>h4{color:rgb(152, 59, 143); font-size:14px}
.share_wrap{width:300px; display:flex; justify-content: space-between;}
.social_icon{display:flex; align-items: center; justify-content:center; padding:15px; background-color: #fff; border-radius: 50%; box-shadow: 2px 0px 3px 1px rgb(201, 199, 199);}
.testing{color: rgb(7, 106, 187)}
.related_post{width:100%; height:auto; display:flex; flex-direction:column;margin-top:30px}
.related_post>h2{ font-size:18px;font-weight:normal}
.post_body{width:90%; height:auto; display:flex; flex-direction:column}
.post_item{width: 80%; height: 100px; margin-bottom: 20px; background-color: none;}


@media screen and (max-width:720px){
.social_share{width:90%; display:flex; flex-direction:column; margin-left: 20px;}
  .share_wrap{width:70%; display:flex; justify-content: space-between;}  
.social_icon{display:flex; align-items: center; justify-content:center; padding:9px; background-color: #fff; border-radius: 50%; box-shadow: 2px 0px 3px 1px rgb(201, 199, 199);}
.related_post{width:90%; height:auto; display:flex; flex-direction:column;margin-top:30px; margin-left:20px}  
.post_body{width:100%; height:auto; display:flex; flex-direction:column}
.post_item{width: 95%; height: 100px; margin-bottom: 20px; background-color: none;}

}