.business_body{width: 100%; height: auto; display:flex; flex-direction: column;}

.post_cont{width:100%; height: 300px; display:grid; grid-template-columns: 1fr 1fr; margin-top: 20px;}

.col1{background: rgb(29, 1, 26);}
.col2{background: none;display:grid; grid-template-rows: 1fr 1fr 1fr; gap: 3px}
.col2_item{background: none;margin-left: 5px; position:relative; height: 97px;}

 /* responsive------------ */
 @media screen and (max-width:420px){
    .post_cont{display:flex; flex-direction:column; height: auto;align-items: center;}
    .col1{width:100%}
    .col2{margin-top: 20px;}
 }