.tech_body{width: 100%; height: auto; display:flex; flex-direction: column;}

.post_cont{width:100%; height: 250px; display:grid; grid-template-columns: 1fr 1fr 1fr; margin-top: 20px; background:none; gap: 5px}
.post_item{background:rgb(227, 165, 238)}


/* ----------responsiveness----------------- */

@media screen and (max-width:420px){
    .post_cont{
        display:flex; flex-direction:column; height:auto
    }
.post_item{height:250px}
}